<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Users</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='style.css')}}">
</head>
<body>
 <h1>Update User Details</h1>
 <form action="" method="post">
     <label>Name:</label>
     <input type="text" name="name"  value = "{{datas.Name}}" required>
     <label>Age:</label>
     <input type="text" name="age" value = "{{datas.age}}" required>
     <label>City:</label>
     <input type="text" name="city" value = "{{datas.city}}"  required>
     <input type="submit" value="Update Details">





 </form>

</body>
</html>